spring.datasource.url=jdbc:postgresql://localhost:5432/NomeDB
spring.datasource.username=tuo_username
spring.datasource.password=tua_password
spring.jpa.hibernate.ddl-auto=update
spring.jpa.open-in-view=false